body a {
  text-decoration: none;
}

#en_tete {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  word-spacing: 15px;
  padding-right: 15px;
  color: #757575;
}

#en_tete ul li {
  display: inline;
}

#centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 0px 0px 0px;
}

#logo {
  display: flex;
  justify-content
}

#searchbar {
  padding: 25px 0px;
}

#searchbar input {
  width: 480px;
  height: 35px;
  box-shadow: 0px 3px 5px 1px LightGrey;
}

#bouton button {
  width: 144px;
  height: 36px;
  margin: 7px 2px;
  background-color: #f2f2f2;
  color: #757575;
  font-weight: bold;
  font-size: 13px;
  border: none;
}

#langues {
  margin: 25px;
  font-family: Arial;
  font-size: small;
}

footer {
  display: flex;
  flex-direction: column;
  position: absolute;
}

footer ul li{
  display: inline;
  padding: 0px 15px;

}
#gauche {
  float: left;
  text-align: left;
  width: 50%;
}

#droite {
  text-align: right;
  float: right;
  width: 50%;
}
